<div class="overlay">
    <div class="bg-white shadow-lg rounded-2xl p-8 w-full max-w-md text-center">
        <div class="flex flex-col items-center">
            <img src="assets/images/logo-doc.png" alt="Logo" class="w-16 mb-2">
            <h2 class="text-2xl font-bold text-gray-900">THÀNH CÔNG</h2>
        </div>
        <p class="text-gray-600 mt-4">Mật khẩu của bạn đã được cập nhật thành công.</p>

        <button (click)="goHome()" class="w-full mt-6 bg-[var(--primary-color)] text-white py-2 rounded-lg hover:bg-[var(--primary-hover)] transition">Mua sắm ngay!</button>
    </div>
</div>