<section class="py-8 mt-0 w-full">
    <div class="text-center">
      <h3 class="text-[#85461F] text-4xl font-bold">SẢN PHẨM NỔI BẬT</h3>
      <a routerLink="/all-products" class="text-[#B16628] text-xl hover:text-[#38312F] block mt-2">Xem tất cả &gt;</a>
    </div>
  
    <div class="container mx-auto text-center items-center mt-6">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8 p-4">
        <div class="p-4 flex flex-col justify-between min-h-[450px]" *ngFor="let product of products">
          <a [routerLink]="['/product-detail', product.id]">
            <div class="bg-white rounded-lg w-full flex items-center justify-center pb-4">
              <img [src]="'assets/images/' + product.image" [alt]="product.name" class="w-100 h-64 object-contain hover:scale-105 transition-transform">
            </div>
            <div class="mt-4 flex flex-col justify-between min-h-[120px]">
              <h2 class="text-[#85461F] text-xl font-bold leading-tight">{{ product.name }}</h2>
              <p class="text-[#B16628] text-base mt-1">{{ product.category }}</p>
            </div>
            <div class="flex items-center justify-center mt-2 text-sm text-gray-700">
              <img src="assets/images/star.png" alt="star" class="w-4 h-4 mr-1"> {{ product.rating }} ({{ product.reviews }} Reviews)
            </div>
            <span class="text-green-500 mt-1 block">{{ product.status }}</span>
            <span class="text-2xl text-[#B16628] font-bold mt-2 block">{{ product.price | currency:'VND' }}</span>
          </a>
          <div class="mt-4 flex items-center gap-2 min-h-[60px]">
            <button class="w-full py-2 bg-[#F8BC3B] text-white text-lg rounded-lg hover:bg-[#B16628]" (click)="addToCart(product.name, product.price)">
              Thêm vào giỏ hàng
            </button>
            <button class="p-3 bg-gray-200 text-yellow-500 rounded-lg hover:bg-gray-300 w-12 h-12 flex items-center justify-center" (click)="compareProduct(product)">
              <img src="assets/images/compare.png" alt="compare" class="w-6 h-6">
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  