<section>
    <img src="assets/images/SARU Banner.png" alt="banner" class="w-full h-auto justify-center">
  </section>
  
  <section class="flex flex-col md:flex-row items-center justify-center md:p-12 bg-[#F2E8DA] p-0">
    <div class="w-full md:w-1/2 flex justify-center">
      <img src="assets/images/chung nhan.png" alt="Certificates" class="w-full h-auto">
    </div>
    <div class="w-full md:w-1/2 mt-6 md:mt-0 md:ml-12 text-center md:text-left">
      <h2 class="text-4xl font-bold text-[#85461F]">CAM KẾT CHẤT LƯỢNG</h2>
      <p class="text-[#B16628] mt-2 text-justify text-2xl">
        <b>SARU</b> cam kết mang đến những chai rượu chất lượng cao, được sản xuất từ nguyên liệu tự nhiên và quy trình kiểm soát nghiêm ngặt. Với hương vị tinh tế và an toàn tuyệt đối, <b>SARU</b> đảm bảo mỗi sản phẩm đều đáp ứng tiêu chuẩn cao nhất. Chúng tôi tự hào đồng hành cùng bạn trong mọi khoảnh khắc đáng nhớ.
      </p>
      <a routerLink="/camketchatluong">
        <button class="mt-4 bg-[#F8BC3B] text-white py-2 px-4 rounded hover:bg-[#B16628] hover:text-white transition duration-300 ease-in-out text-xl">Xem tất cả</button>
      </a>
    </div>
  </section>
  