<!-- app.component.html -->
<div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <!-- Image Column -->
    <div class="relative flex items-center justify-center group">
        <div class="absolute w-80 h-auto border-4 border-[#ecdec1] rounded-lg shadow-lg transition-transform duration-500 group-hover:-translate-x-3">
        <img
            src="assets\wine1.jpg"
            alt="Product Image 1"
            class="w-full h-auto rounded-lg"
        />
        </div>
        <div class="absolute w-80 h-auto border-4 border-[#ecdec1] rounded-lg shadow-lg transition-transform duration-500 group-hover:translate-x-3 top-8 left-8">
        <img
            src="assets\wine2.jpg"
            alt="Product Image 2"
            class="w-full h-auto rounded-lg"
        />
        </div>
    </div>
    <!-- Accordion Column -->
    <div class="w-full">
        <div *ngFor="let item of faqs">
            <div class="border-b border-gray-300 py-2 flex justify-between items-center">
            <button 
                (click)="toggleAccordion(item)" 
                class="text-left py-4 flex-1 font-semibold text-[#202020] hover:text-[#b6713e] focus:outline-none">
                {{ item.title }}
            </button>
            <img 
                src="assets\plus.png" 
                alt="Plus Icon" 
                class="w-5 h-5 mr-4 cursor-pointer" 
                *ngIf="!item.open" 
                (click)="toggleAccordion(item)" 
            />
            <img 
                src="assets\minus.png" 
                alt="Minus Icon" 
                class="w-5 h-5 mr-4 cursor-pointer" 
                *ngIf="item.open" 
                (click)="toggleAccordion(item)" 
            />
            </div>
            <div *ngIf="item.open" class="overflow-hidden transition-all duration-300 text-[#202020] max-h-96">
            <p class="p-4">{{ item.content }}</p>
            </div>
        </div>
        </div>
    </div>
</div>