<div class="flex justify-center p-6 bg-gray-100 min-h-screen">
    <div class="w-full max-w-5xl bg-white shadow-lg rounded-xl p-6">
      <!-- Tiêu đề Trang -->
      <h2 class="text-3xl font-bold text-[#85461F] border-b pb-3 mb-4">Thông tin khách hàng</h2>
      
      <div class="flex flex-col gap-6">
        <!-- Thông tin cá nhân -->
        <div class="w-full bg-white p-8">
          <h3 class="text-xl font-bold text-black mb-5">Thông tin cá nhân</h3>
          <div class="flex items-center gap-20">
            <div class="w-24 h-24 rounded-full overflow-hidden border">
              <img class="w-full h-full object-cover" src="" alt="Customer Image">
            </div>
            <div class="space-y-2 text-black">
              <p><span class="font-medium">Tên khách hàng:</span> John Doe</p>
              <p><span class="font-medium">Giới tính:</span> Nam</p>
              <p><span class="font-medium">Số điện thoại:</span> 0123-456-789</p>
              <p><span class="font-medium">Ngày sinh:</span> 01/01/1990</p>
              <p><span class="font-medium">Email:</span> john.do&#64;example.com</p>
            </div>
          </div>
        </div>
        
        <!-- Lịch sử mua hàng -->
        <h3 class="text-xl font-bold text-black px-8">Lịch sử mua hàng</h3>
        <div class="w-full bg-[#F2E8DA] p-5 rounded-lg shadow-md">
          <div class="flex justify-between items-center mb-4">
            <p class="font-medium text-black">Đơn hàng ...</p>
            <button class="flex items-center bg-[#F8BC3B] text-black font-medium py-2 px-4 rounded-full transition hover:bg-[#85461F] hover:text-white">
                Xem chi tiết
            </button>
          </div>
          <div class="space-y-3">
            <div class="p-3 bg-gray-50 rounded-md shadow-sm border border-gray-200" *ngFor="let item of cusOrders.reverse()">
              <div class="flex justify-between items-center">
                <h4 class="text-black font-medium">Đơn hàng ngày {{ item.OrderDate }}</h4>
                <span class="text-sm font-medium text-green-600">{{ item.Status }}</span>
              </div>
              <button class="mt-2 px-4 py-2 bg-[#F8BC3B] text-white text-sm rounded-lg hover:bg-[#85461F] transition">
                Xem chi tiết
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  