<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt hàng thành công</title>
    <link rel="stylesheet" href="paymentsuccessful.component.css">
</head>
<body>

    <div class="order-success">
        <div class="success-header">ĐẶT HÀNG THÀNH CÔNG</div>
        <div class="success-content">
            <p class="success-message">Đặt hàng thành công!</p>
            <p>Vui lòng theo dõi tình trạng đơn hàng</p>
            <div class="success-buttons">
                <button class="detail-button" (click)="viewOrderDetail()">Xem chi tiết</button>
                <button class="back-button" (click)="goHome()">Trở lại</button>
            </div>
        </div>
    </div>

</body>
</html>