<header class="bg-white">
    <nav
        class="bg-white shadow-lg pt-3 pb-3 pl-6 pr-6 flex justify-between items-center relative z-50 fixed w-full top-0 left-0">
        <!-- Logo -->
        <div class="flex items-center space-x-4">
            <a [routerLink]="['/homepage']"><img class="w-24" src="assets/images/logo-ngang (2).png" alt="SARU"></a>
        </div>

        <!-- Menu toggle button for mobile -->
        <button class="text-3xl md:hidden p-2" (click)="toggleMenu()">
            <i class="fa-solid fa-bars text-gray-700"></i>
        </button>

        <!-- Navigation Links -->
        <ul id="nav-links" class="hidden md:flex space-x-10 text-lg font-medium">
            <li> <a [routerLink]="['/homepage']" class="text-gray-700 hover:text-[#F8BC3B] relative group">
                    Trang chủ
                    <span
                        class="absolute left-0 bottom-0 translate-y-2 w-full h-0.5 bg-[#F8BC3B] transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"></span>
                </a></li>
            <li class="relative group">
                <a [routerLink]="['/intro']" class="text-gray-700 hover:text-[#F8BC3B] relative">
                    Giới thiệu
                    <span
                        class="absolute left-0 bottom-0 translate-y-2 w-full h-0.5 bg-[#F8BC3B] transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"></span>
                </a>
                <ul id="submenu-intro" class="absolute left-0 bg-white shadow-lg w-72 submenu ">
                    <li><a [routerLink]="['/history']" class="block p-3 text-gray-700 hover:text-[#F8BC3B]">Lịch sử hình
                            thành</a></li>
                    <li><a [routerLink]="['/contact']" class="block p-3 text-gray-700 hover:text-[#F8BC3B]">Liên hệ</a>
                    </li>
                    <li><a [routerLink]="['/commitment']" class="block p-3 text-gray-700 hover:text-[#F8BC3B]">Cam kết
                            chất lượng</a></li>
                </ul>
            </li>
            <li class="relative group">
                <a [routerLink]="['/product']" class="text-gray-700 hover:text-[#F8BC3B] relative">
                    Sản phẩm
                    <span
                        class="absolute left-0 bottom-0 translate-y-2 w-full h-0.5 bg-[#F8BC3B] transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"></span>
                </a>
                <ul id="submenu-product" class="absolute left-0 bg-white shadow-lg w-72 submenu">
                    <li>
                        <a (click)="handleOpenSubmenu('CATE1')"
                            class="block p-3 text-gray-700 hover:text-[#F8BC3B]">Rượu Tây Bắc</a>
                    </li>
                    <li><a (click)="handleOpenSubmenu('CATE3')" class="block p-3 text-gray-700 hover:text-[#F8BC3B]">Phụ
                            kiện</a></li>
                    <li><a (click)="handleOpenSubmenu('CATE2')" class="block p-3 text-gray-700 hover:text-[#F8BC3B]">Đồ
                            ngâm rượu</a></li>
                </ul>
            </li>


            <li class="relative group">
                <a [routerLink]="['/blog']" class="text-gray-700 hover:text-[#F8BC3B] relative">
                    Blogs
                    <span
                        class="absolute left-0 bottom-0 translate-y-2 w-full h-0.5 bg-[#F8BC3B] transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"></span>
                </a>
                <ul id="submenu-blog" class="absolute left-0 bg-white shadow-lg w-72 submenu">
                    <li><a [routerLink]="['/blog-know']" class="block p-3 text-gray-700 hover:text-[#F8BC3B]">Kiến thức
                            về rượu Tây Bắc</a></li>
                    <li><a [routerLink]="['/blog-story']" class="block p-3 text-gray-700 hover:text-[#F8BC3B]">Câu
                            chuyện khách hàng</a></li>
                    <li><a [routerLink]="['/blog-tip']" class="block p-3 text-gray-700 hover:text-[#F8BC3B]">Mẹo hữu
                            ích</a></li>
                </ul>
            </li>
            <li> <a [routerLink]="['/faqs']" class="text-gray-700 hover:text-[#F8BC3B] relative group">
                    FAQs
                    <span
                        class="absolute left-0 bottom-0 translate-y-2 w-full h-0.5 bg-[#F8BC3B] transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"></span>
                </a></li>
        </ul>

        <!-- Icons -->
        <div class="flex items-center space-x-6">
            <!-- Search bar start -->
            <div class="search-wrapper">
                <div class="search-input">
                    <input type="text" name="" placeholder="Bạn tìm gì?..." id="search-box"
                        [ngStyle]="{'width': isSearchOpen ? '300px' : '0'}" #searchBox>
                    <!-- Sử dụng template reference variable #searchBox -->
                    <i class="fas fa-search search-icon" (click)="toggleSearchBar(searchBox)">
                        <!-- Truyền searchBox vào hàm -->
                    </i>
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </div>


            <!-- Search bar end -->

            <!-- Cart Icon with Badge -->
            <a [routerLink]="['/cart']" class="relative">
                <i class="fa-solid fa-cart-shopping text-xl cursor-pointer hover:text-[#F8BC3B]"></i>
                <span *ngIf="cartItemCount > 0"
                    class="absolute -top-2 -right-2 bg-red-500 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center">{{cartItemCount}}</span>
            </a>

            <!-- Compare Icon with Badge -->
            <a [routerLink]="['/compare']" class="relative">
                <i class="fa-solid fa-arrows-left-right text-xl cursor-pointer hover:text-[#F8BC3B]"></i>
                <span *ngIf="compareItemCount > 0"
                    class="absolute -top-2 -right-2 bg-red-500 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center">{{compareItemCount}}</span>
            </a>
            <!-- Khi chưa đăng nhập -->
            <ng-container *ngIf="!isLoggedIn">
                <div class="relative group">
                    <a [routerLink]="['/account']" class="text-gray-700 hover:text-[#F8BC3B] relative">
                        <i class="fa-solid fa-user text-xl cursor-pointer hover:text-[#F8BC3B]"></i>
                        <span
                            class="absolute left-0 bottom-0 translate-y-2 w-full h-1 bg-[#F8BC3B] transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"></span>
                    </a>
                    <ul id="submenu-account" class="absolute right-0 bg-white shadow-lg w-32 submenu">
                        <li><a [routerLink]="['/login']"
                                class="block p-3 text-gray-700 font-medium hover:text-[#F8BC3B]">Đăng nhập</a></li>
                        <li><a [routerLink]="['/signup']"
                                class="block p-3 text-gray-700 font-medium hover:text-[#F8BC3B]">Đăng ký</a></li>
                    </ul>
                </div>
            </ng-container>

            <!-- Khi đã đăng nhập -->
            <ng-container *ngIf="isLoggedIn">
                <div class="relative group">
                    <button
                        class="flex items-center space-x-2 text-gray-700 hover:text-[#F8BC3B] relative focus:outline-none">
                        <img [src]="currentUser?.CustomerAvatar || 'assets/images/user-avatar.png'" alt="Avatar"
                            class="w-8 h-8 rounded-full">
                        <span>{{ currentUser?.CustomerName || 'Tài khoản' }}</span>
                        <span
                            class="absolute left-0 bottom-0 translate-y-2 w-full h-1 bg-[#F8BC3B] transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"></span>
                    </button>
                    <ul id="submenu-account" class="absolute right-0 bg-white shadow-lg w-48 submenu">
                        <li><a [routerLink]="['/account']"
                                class="block p-3 text-gray-700 font-medium hover:text-[#F8BC3B]">Thông tin cá nhân</a>
                        </li>
                        <li><a (click)="logout()"
                                class="block w-full text-left p-3 text-gray-700 font-medium hover:text-[#F8BC3B]">Đăng
                                xuất</a></li>
                    </ul>
                </div>
            </ng-container>
        </div>
    </nav>
</header>