<div class="px-40 mt-10">
    <div class="flex justify-between">
        <h1 class="text-3xl font-bold text-[#85461F]">Quản lý danh mục bài viết</h1>
        <button class="group flex items-center bg-[#F8BC3B] text-black font-medium py-2 px-4 rounded-full transition hover:bg-[#85461F] hover:text-white" routerLink="/admin/categories-blog/add">
            <img src="assets/images/add_circle.png" alt="Add" class="w-5 h-5 inline-block mr-2 transition group-hover:invert group-hover:brightness-0 group-hover:contrast-200">
            Thêm danh mục
        </button> 
    </div>
    <div class="shadow mt-4 bg-white">
        <mat-form-field class="w-full">
            <mat-label><img src="assets\images\Search.png" alt="Search" class="w-5 h-5 inline-block mr-2">Tìm kiếm</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Nhập tìm kiếm" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="w-full border border-gray-300 rounded-lg mt-4">
        

            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> ID </th>
            <td mat-cell *matCellDef="let row"> {{row._id}} </td>
            </ng-container>

            <ng-container matColumnDef="CateblogID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Cateblog_ID </th>
                <td mat-cell *matCellDef="let row"> {{row.CateblogID}} </td>
            </ng-container>
 
            <ng-container matColumnDef="CateblogName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Tên danh mục </th>
            <td mat-cell *matCellDef="let row"> {{row.CateblogName}} </td>
            </ng-container>
        

            <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Hành động </th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="accent" class="mr-4" [routerLink]="'/admin/categories-blog/'+row._id"><img src="assets\images\pen.png" alt="Add" class="w-5 h-5 inline-block mr-2"></button>
                <button mat-raised-button color="warn" (click)="delete(row._id)"><img src="assets\images\trash.png" alt="Add" class="w-5 h-5 inline-block mr-2"></button>    
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        

            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select"></mat-paginator>
    </div>
</div>
  
  