<div class="bg-BG py-5 font-Regular">
    <div class="mx-[40px] mb-3 flex justify-between w-[1500px] h-[500px] rounded-[10px] bg-[#EDEDED]">
        <img class="w-[750px] h-[500px] rounded-l-[10px] float-left" src="assets\ruou_man.png">
        <div class="px-[20px] py-[40px]">
            <p class="text-left font-Header font-bold text-[35px] text-[#262626] mb-[10px]">Rượu Mận <br/>Đặc sản tình yêu và kí ức vùng trời Tây Bắc</p>
            <p class="text-left text-[18px] text-[#4D4D4D]">Tôi là một chàng trai trẻ đầy đam mê với các chuyến đi khám phá. Sau khi hoàn thành một vài dự án quan trọng trong công việc, tôi quyết định dành thời gian để du lịch và tìm hiểu thêm về những vùng đất mới. Tây Bắc, với những núi rừng hùng vĩ, là một trong những điểm đến mà tôi luôn mong muốn trải nghiệm. Tây Bắc không chỉ thu hút bởi vẻ đẹp thiên nhiên mà còn bởi nền văn hóa độc đáo của các dân tộc thiểu số sinh sống tại đây.</p>
            <div class="div-read-this mt-[20px] pt-2 text-center bg-[#EDEDEC] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
            id="btnReadThis1" (mouseenter)="changeBackground('btnReadThis1')" (mouseleave)="resetBackground('btnReadThis1')">
                <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Inter'] font-bold" >Xem thêm</button>
            </div>
        </div>
    </div>
    <div class="flex justify-between ">
        <div class="mt-[20px] ml-[40px] pt-2 text-center bg-[#757575] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[310px]"
        id="btnInfor" (mouseenter)="changeBackground1('btnInfor')" (mouseleave)="resetBackground1('btnInfor')">
            <button class="text-[25px] cursor-pointer bg-[#757575] border-none text-lg pb-1 text-[#FFFFFF] font-['Inter'] font-bold">Kiến thức về rượu Tây Bắc</button>
        </div>
        <div class="div-read-this mt-[20px] mr-[40px] pt-2 text-center bg-[#EDEDEC] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
        id="btnReadThis2" (mouseenter)="changeBackground('btnReadThis2')" (mouseleave)="resetBackground('btnReadThis2')">
            <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Inter'] font-bold" >Xem thêm</button>
        </div>
    </div>
    <div  class="flex justify-between mx-[40px] mt-[20px]">
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\LSTB.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Lịch sử rượu Tây Bắc - Tinh hoa vùng núi rừng</b><br/> Rượu Tây Bắc không chỉ là một loại thức uống mà còn là nét văn hóa truyền thống đặc sắc...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Ruou-noi_tieng.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Những loại rượu nổi tiếng ở Tây Bắc</b><br/> Tây Bắc nổi tiếng với nhiều loại rượu đặc trưng, mỗi loại mang một hương vị riêng biệt...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Ruou_Tay_Bac_truyen_Thong.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Quy trình làm rượu Tây Bắc truyền thống</b><br/> Quy trình làm rượu Tây Bắc là sự kết hợp hài hòa giữa thiên nhiên và bàn tay khéo léo...</p>
            </button>
        </div>
    </div>
    <div class="flex justify-between">
        <div class="mt-[20px] ml-[40px] pt-2 text-center bg-[#757575] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[280px]"
        id="btnStory" (mouseenter)="changeBackground1('btnStory')" (mouseleave)="resetBackground1('btnStory')">
            <button class="text-[25px] cursor-pointer bg-[#757575] border-none text-lg pb-1 text-[#FFFFFF] font-['Inter'] font-bold">Câu chuyện khách hàng</button>
        </div>
        <div class="div-read-this mt-[20px] pt-2 text-center bg-[#EDEDEC] mr-[40px] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
        id="btnReadThis3" (mouseenter)="changeBackground('btnReadThis3')" (mouseleave)="resetBackground('btnReadThis3')">
            <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Inter'] font-bold" >Xem thêm</button>
        </div>
    </div>
    <div  class="flex justify-between mx-[40px] mt-[20px]">
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Cau_chuyen_Ha_Giang.webp">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Chuyến đi Hà Giang và cuộc gặp gỡ định mệnh với rượu cam Hà Giang</b><br/> Hà Giang, mảnh đất địa đầu Tổ quốc...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Ruou_Mo.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Hương vị tuổi thơ trong từng ly rượu mơ</b><br/> Tôi sinh ra và lớn lên ở một vùng quê nghèo, nơi những đồi mơ bạt ngàn trải dài khắp...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Ruou_nho_rung.webp">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Rượu nho rừng SARU - Chuyến phiêu lưu đặc biệt trong bộ sưu tập của tôi</b><br/> Tôi là một người đam mê khám phá thế giới...</p>
            </button>
        </div>
    </div>
    <div class="flex justify-between">
        <div class="mt-[20px] ml-[40px] pt-2 text-center bg-[#757575] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[170px]"
        id="btntip" (mouseenter)="changeBackground1('btntip')" (mouseleave)="resetBackground1('btntip')">
            <button class="text-[25px] cursor-pointer bg-[#757575] border-none text-lg pb-1 text-[#FFFFFF] font-['Inter'] font-bold">Mẹo hữu ích</button>
        </div>
        <div class="div-read-this mt-[20px] pt-2 text-center bg-[#EDEDEC] mr-[40px] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
        id="btnReadThis4" (mouseenter)="changeBackground('btnReadThis4')" (mouseleave)="resetBackground('btnReadThis4')">
            <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Inter'] font-bold" >Xem thêm</button>
        </div>
    </div>
    <div  class="flex justify-between mx-[40px] mt-[20px]">
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Cach_het_say_ruou.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Cách hết say rượu, 15 cách giải rượu hiệu quả, an toàn và nhanh nhất sau khi uống rượu</b><br/> Uống rượu là một thói quen hay sở thích...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Top_7_meo.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Top 7 mẹo uống rượu mà không say</b><br/> Hôm qua đã định không uống say rồi, nhưng đối tác nói chuyện hợp quá, lại mở ra nhiều...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Bi_kip_chon_ruou_ngon.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Bí kíp chọn rượu ngon, uống rượu sành điệu như một chuyên gia</b><br/> Rượu Tây Bắc không chỉ là thức uống, mà...</p>
            </button>
        </div>
    </div>
</div>
<div class="bg-BG py-5 font-Regular">
    <div class="mx-[40px] mb-3 flex justify-between w-[1500px] h-[500px] rounded-[10px] bg-[#EDEDED]">
        <img class="w-[750px] h-[500px] rounded-l-[10px] float-left" src="assets\ruou_man.png">
        <div class="px-[20px] py-[40px]">
            <p class="text-left font-Header font-bold text-[35px] text-[#262626] mb-[10px]">Rượu Mận <br/>Đặc sản tình yêu và kí ức vùng trời Tây Bắc</p>
            <p class="text-left text-[18px] text-[#4D4D4D]">Tôi là một chàng trai trẻ đầy đam mê với các chuyến đi khám phá. Sau khi hoàn thành một vài dự án quan trọng trong công việc, tôi quyết định dành thời gian để du lịch và tìm hiểu thêm về những vùng đất mới. Tây Bắc, với những núi rừng hùng vĩ, là một trong những điểm đến mà tôi luôn mong muốn trải nghiệm. Tây Bắc không chỉ thu hút bởi vẻ đẹp thiên nhiên mà còn bởi nền văn hóa độc đáo của các dân tộc thiểu số sinh sống tại đây.</p>
            <div class="div-read-this mt-[20px] pt-2 text-center bg-[#EDEDEC] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
            id="btnReadThis1" (mouseenter)="changeBackground('btnReadThis1')" (mouseleave)="resetBackground('btnReadThis1')">
                <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Inter'] font-bold" >Xem thêm</button>
            </div>
        </div>
    </div>
    <div class="flex justify-between ">
        <div class="mt-[20px] ml-[40px] pt-2 text-center bg-[#757575] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[310px]"
        id="btnInfor" (mouseenter)="changeBackground1('btnInfor')" (mouseleave)="resetBackground1('btnInfor')">
            <button class="text-[25px] cursor-pointer bg-[#757575] border-none text-lg pb-1 text-[#FFFFFF] font-['Inter'] font-bold">Kiến thức về rượu Tây Bắc</button>
        </div>
        <div class="div-read-this mt-[20px] mr-[40px] pt-2 text-center bg-[#EDEDEC] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
        id="btnReadThis2" (mouseenter)="changeBackground('btnReadThis2')" (mouseleave)="resetBackground('btnReadThis2')">
            <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Inter'] font-bold" >Xem thêm</button>
        </div>
    </div>
    <div  class="flex justify-between mx-[40px] mt-[20px]">
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\LSTB.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Lịch sử rượu Tây Bắc - Tinh hoa vùng núi rừng</b><br/> Rượu Tây Bắc không chỉ là một loại thức uống mà còn là nét văn hóa truyền thống đặc sắc...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Ruou-noi_tieng.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Những loại rượu nổi tiếng ở Tây Bắc</b><br/> Tây Bắc nổi tiếng với nhiều loại rượu đặc trưng, mỗi loại mang một hương vị riêng biệt...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Ruou_Tay_Bac_truyen_Thong.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Quy trình làm rượu Tây Bắc truyền thống</b><br/> Quy trình làm rượu Tây Bắc là sự kết hợp hài hòa giữa thiên nhiên và bàn tay khéo léo...</p>
            </button>
        </div>
    </div>
    <div class="flex justify-between">
        <div class="mt-[20px] ml-[40px] pt-2 text-center bg-[#757575] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[280px]"
        id="btnStory" (mouseenter)="changeBackground1('btnStory')" (mouseleave)="resetBackground1('btnStory')">
            <button class="text-[25px] cursor-pointer bg-[#757575] border-none text-lg pb-1 text-[#FFFFFF] font-['Inter'] font-bold">Câu chuyện khách hàng</button>
        </div>
        <div class="div-read-this mt-[20px] pt-2 text-center bg-[#EDEDEC] mr-[40px] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
        id="btnReadThis3" (mouseenter)="changeBackground('btnReadThis3')" (mouseleave)="resetBackground('btnReadThis3')">
            <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Inter'] font-bold" >Xem thêm</button>
        </div>
    </div>
    <div  class="flex justify-between mx-[40px] mt-[20px]">
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Cau_chuyen_Ha_Giang.webp">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Chuyến đi Hà Giang và cuộc gặp gỡ định mệnh với rượu cam Hà Giang</b><br/> Hà Giang, mảnh đất địa đầu Tổ quốc...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Ruou_Mo.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Hương vị tuổi thơ trong từng ly rượu mơ</b><br/> Tôi sinh ra và lớn lên ở một vùng quê nghèo, nơi những đồi mơ bạt ngàn trải dài khắp...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Ruou_nho_rung.webp">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Rượu nho rừng SARU - Chuyến phiêu lưu đặc biệt trong bộ sưu tập của tôi</b><br/> Tôi là một người đam mê khám phá thế giới...</p>
            </button>
        </div>
    </div>
    <div class="flex justify-between">
        <div class="mt-[20px] ml-[40px] pt-2 text-center bg-[#757575] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[170px]"
        id="btntip" (mouseenter)="changeBackground1('btntip')" (mouseleave)="resetBackground1('btntip')">
            <button class="text-[25px] cursor-pointer bg-[#757575] border-none text-lg pb-1 text-[#FFFFFF] font-['Inter'] font-bold">Mẹo hữu ích</button>
        </div>
        <div class="div-read-this mt-[20px] pt-2 text-center bg-[#EDEDEC] mr-[40px] text-[#757575] border border-[3px] border-[#757575] rounded-[10px] cursor-pointer h-12 w-[150px]" 
        id="btnReadThis4" (mouseenter)="changeBackground('btnReadThis4')" (mouseleave)="resetBackground('btnReadThis4')">
            <button class="btn-read-this text-[25px] cursor-pointer bg-[#EDEDEC] border-none text-lg pb-1 text-[#757575] font-['Inter'] font-bold" >Xem thêm</button>
        </div>
    </div>
    <div  class="flex justify-between mx-[40px] mt-[20px]">
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Cach_het_say_ruou.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Cách hết say rượu, 15 cách giải rượu hiệu quả, an toàn và nhanh nhất sau khi uống rượu</b><br/> Uống rượu là một thói quen hay sở thích...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Top_7_meo.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Top 7 mẹo uống rượu mà không say</b><br/> Hôm qua đã định không uống say rồi, nhưng đối tác nói chuyện hợp quá, lại mở ra nhiều...</p>
            </button>
        </div>
        <div class=" bg-[#EDEDED] w-[450px] h-[386px] border-0 rounded-[10px]">
            <button>
            <img class="m-0 rounded-t-[10px] w-[450px] h-[247px]" src="assets\Bi_kip_chon_ruou_ngon.jpg">
            <p class="text-center font-['Inter'] text-[20px] text-[#262626] mt-[20px] mx-[20px]"><b>Bí kíp chọn rượu ngon, uống rượu sành điệu như một chuyên gia</b><br/> Rượu Tây Bắc không chỉ là thức uống, mà...</p>
            </button>
        </div>
    </div>
</div>
        