<div class="flex justify-center pt-5 font-Regular text-xl">
    <div class="flex-col w-3/4 ml-20 mr-10 px font-Regular text-justify">
        <h1 class="block font-Header text-4xl text-black">Rượu Mận: Đặc sản tình yêu và kí ức vùng trời Tây Bắc</h1>
        <!-- thêm icon đồng hồ -->
        <h3 class="container text-base my-2 rounded-xl">March 09, 2024</h3>
        <img class="mx-auto mt-6" src="https://product.hstatic.net/200000457771/product/ruou_man_mau_hoang_su_phi00004_8f47d653335846a2aab146730acec29d_master.png" alt="image">
        <h3 class="text-[#85461F] text-1xl font-bold mt-6">Chuyến đi Tây Bắc: Khám phá những nét văn hóa đặc sắc</h3>
        <br>
        <p class="indent-8 mt-2">Tôi là một chàng trai trẻ đầy đam mê với các chuyến đi khám phá. Sau khi hoàn thành một vài dự án quan trọng trong công việc, tôi quyết định dành thời gian để du lịch và tìm hiểu thêm về những vùng đất mới. Tây Bắc, với những núi rừng hùng vĩ, là một trong những điểm đến mà tôi luôn mong muốn trải nghiệm. Tây Bắc không chỉ thu hút bởi vẻ đẹp thiên nhiên mà còn bởi nền văn hóa độc đáo của các dân tộc thiểu số sinh sống tại đây.
        </p>
        <br>
        <p class="indent-8 mt-2">Trong chuyến đi công tác tại Sơn La, tôi đã có cơ hội tham gia một buổi lễ hội của người dân tộc Mông. Đây là một dịp đặc biệt mà anh không thể nào quên. Lễ hội không chỉ có những điệu múa, tiếng khèn mà còn là cơ hội để mọi người tụ họp, chia sẻ những câu chuyện và thưởng thức những đặc sản nổi tiếng, trong đó không thể thiếu rượu. Đây là lần đầu tiên anh Nam được tận mắt chứng kiến và tham gia vào một buổi lễ hội nơi vùng núi cao, nơi mà rượu được xem là phần không thể thiếu trong những nghi lễ truyền thống.</p>                
            <br>
        <h3 class="text-[#85461F] text-1xl font-bold">
            Rượu Mận Tây Bắc – Đặc sản mộc mạc nhưng đậm đà
        </h3>
            <br>
        <p class="indent-8 mt-2">
            Rượu Tây Bắc là một phần không thể thiếu trong đời sống văn hóa của người dân nơi đây. Trong những buổi lễ hội, khi mọi người quây quần bên nhau, rượu không chỉ là thức uống mà còn mang trong mình những câu chuyện, những ký ức, là sợi dây gắn kết tình cảm giữa con người với nhau. Loại rượu mà anh Nam được mời thưởng thức trong lễ hội không giống bất kỳ loại rượu nào anh từng uống. Rượu mận Tây Bắc được làm từ nguyên liệu tự nhiên như gạo nếp, mận, và các loại thảo mộc đặc trưng của núi rừng Tây Bắc. Rượu được ủ lâu năm trong những chum, vại gỗ, giúp chất rượu có một hương vị đặc biệt, đậm đà và cay nồng mà chỉ vùng đất này mới có.
        </p> 
            <br>
        <p class="indent-8 mt-2">
            Khi tôi nhấp ngụm rượu đầu tiên, cảm giác ấm áp lan tỏa khắp cơ thể, và ngay lập tức tôi có thể cảm nhận được sự kỳ diệu của hương vị ấy. Rượu không chỉ mạnh mẽ mà còn có sự ngọt ngào nhẹ nhàng, giống như chính con người Tây Bắc vậy – mạnh mẽ, kiên cường nhưng cũng vô cùng hiếu khách và ấm áp. Mỗi ngụm rượu như một phần của những ký ức, những câu chuyện mà người dân nơi đây đã gìn giữ bao đời.
        </p>    
            <br>
        <p class="indent-8 mt-2">
            Tôi không chỉ thưởng thức rượu mà còn cảm nhận được một phần linh hồn của nơi đây qua từng chén rượu. Những người dân tộc Mông, Tày, Thái đã truyền lại cho thế hệ sau những công thức ủ rượu quý giá, những bí quyết được truyền từ đời này qua đời khác. Đối với tôi, rượu mận Tây Bắc không chỉ là một món uống, mà là một phần của nền văn hóa, là tình cảm và sự hiếu khách của những con người nơi đây.
        </p>    
            <br>
        <h3 class="text-[#85461F] text-1xl font-bold">
            Ký ức đẹp đẽ và quyết định mang rượu Tây Bắc về thành phố
        </h3>    
            <br>
        <p class="indent-8 mt-2">
            Sau chuyến đi, những ký ức về Tây Bắc và hương vị đặc biệt của rượu Tây Bắc đã in sâu vào tâm trí tôi. Dù bận rộn với công việc, mỗi khi nhớ về chuyến đi ấy, tôi lại nhớ đến những giọt rượu đậm đà đã giúp tôi hiểu hơn về con người và văn hóa của vùng đất này. Anh cảm thấy thật sự may mắn khi đã có cơ hội trải nghiệm những điều tuyệt vời như vậy.
        </p>    
            <br>
        <h3 class="text-[#85461F] text-1xl font-bold">
            Sự Hài Lòng Và Ký Ức Sống Lại Qua Mỗi Chén Rượu
        </h3>    
            <br>
        <p class="indent-8 mt-2">
            Khi những chai rượu Tây Bắc được giao đến tay, tôi cảm thấy như một phần ký ức về Tây Bắc trở lại sống động trong từng chai rượu ấy. Mỗi lần mở nắp chai, hương thơm đặc trưng của rượu lại lan tỏa, khiến tôi như được trở lại với không khí của buổi lễ hội nơi Tây Bắc. Tôi cảm nhận lại vị cay nồng của rượu, như được quay lại trong không gian ấm cúng của những buổi tụ họp bên bếp lửa của người dân nơi đây.
        </p>    
            <br>
        <p class="indent-8 mt-2">
            Không chỉ dành cho bản thân, tôi  còn chia sẻ những chai rượu Tây Bắc này với bạn bè, để họ cũng có thể cảm nhận được hương vị đặc biệt ấy, cảm nhận được một phần của vùng đất mà tôi đã từng đến. Những lần thưởng thức rượu Tây Bắc luôn là dịp để tôi sống lại những khoảnh khắc tuyệt vời trong chuyến đi, những khoảnh khắc khiến tôi cảm thấy như mình được gắn kết với những con người, với vùng đất mà tôi yêu mến.
        </p>    
            <br>
        <h3 class="text-[#85461F] text-1xl font-bold">
            Kết luận
        </h3>    
            <br>
        <p class="indent-8 mt-2">
            Rượu Tây Bắc đối với tôi không chỉ đơn giản là một thức uống, mà là một phần không thể thiếu trong hành trình khám phá và tìm hiểu văn hóa. Mỗi chai rượu là một câu chuyện, một ký ức của vùng đất Tây Bắc đầy thử thách và kiên cường. Với tôi, mỗi lần thưởng thức rượu Tây Bắc là một lần sống lại những khoảnh khắc tuyệt vời trong chuyến đi, là một cách để giữ gìn và chia sẻ những ký ức đó với mọi người.
        </p>    
            <br>
        <form action="#" method="post">
            <fieldset>
                <legend class="font-Header text-4xl mb-5">Bình luận</legend>
                    <textarea id="comment" name="comment" placeholder="Nhập bình luận.." aria-required="true" spellcheck="false" class="w-full h-52 p-2 bg-gray-300 bg-opacity-50 border border-gray-500"></textarea>
                    <p><input type="submit" value="Gửi >>" class="bg-[#F8BC3B] hover:bg-[#85461F] text-white flex w-fit h-12 rounded-md text-center px-10 my-2 font-bold text-white cursor-pointer"></p>
            </fieldset>
        </form>
        
    </div> 
    <div class="w-1/3 justify-start text-base mr-20 sticky top-0 h-screen">
        <ul>
            <div class="font-Header text-2xl mt-1 text-center -mb-1">
                Tin tức liên quan
            </div>
            <li class="list-none">
                <div class="flex mt-5 pl-5 py-2 bg-slate-300 bg-opacity-30">
                    <div class="absolute w-7 h-7 pt-1 mt-6 -ml-3 leading-5 font-bold text-center text-white bg-[#85461F] bg-opacity-90">
                        1
                    </div>
                    <img class="w-28 h-20 rounded-xl" src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lvctq07tm64t8b.webp" alt="">
                    <span class="flex mx-3 items-center">Rượu nho rừng SARU - Chuyến phiêu lưu đặc biệt trong bộ sưu tập của tôi</span>
                </div>
            </li>
            <li>
                <div class="flex mt-5 pl-5 py-2 bg-slate-300 bg-opacity-30">
                    <div class="absolute w-7 h-7 pt-1 mt-6 -ml-3 leading-5 font-bold text-center text-white bg-[#85461F] bg-opacity-90">
                        2
                    </div>
                    <img class="w-28 h-20 rounded-xl" src="https://chus.vn/images/detailed/290/z6167178019048_3f6a6fb3709c502e7a9b7485be672999.jpg" alt="">
                    <span class="flex mx-3 items-center">Rượu Tết - Món quà tình cảm và lý tưởng của SARU cho đối tác</span>
                </div>
            </li>
            <li>
                <div class="flex mt-5 pl-5 py-2 bg-slate-300 bg-opacity-30">
                    <div class="absolute w-7 h-7 pt-1 mt-6 -ml-3 leading-5 font-bold text-center text-white bg-[#85461F] bg-opacity-90">
                        3
                    </div>
                    <img class="w-28 h-20 rounded-xl" src="https://product.hstatic.net/200000457771/product/mo_xanh2_df65ef3521dc47c890d2752d1b6f687c_master.jpg" alt="">
                    <span class="flex mx-3 items-center">Hương vị tuổi thơ trong từng ly rượu mơ</span>
                </div>
            </li>
            <li>
                <div class="flex mt-5 pl-5 py-2 bg-slate-300 bg-opacity-30">
                    <div class="absolute w-7 h-7 pt-1 mt-6 -ml-3 leading-5 font-bold text-center text-white bg-[#85461F] bg-opacity-90">
                        4
                    </div>
                    <img class="w-28 h-20 rounded-xl" src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m1sleqykom2n04.webp" alt="">
                    <span class="flex mx-3 items-center">Chuyến đi Hà Giang và cuộc gặp gỡ định mệnh với rượu cam Hà Giang</span>
                </div>
            </li>
        </ul>
    </div>
</div>