<div class="max-w-7xl mx-auto px-6 py-6">
    <!-- Banner -->
    <img src="assets/images/bannerlienhe.jpg" alt="Banner" class="w-full h-auto rounded-lg">

    <div class="flex justify-between gap-6 mt-6">
        <!-- Contact Section -->
        <div class="flex-1 min-w-[300px]">
            <div class="mb-6">
                <p><strong>Địa chỉ:</strong> 16 Lê Hồng Phong, TP Lào Cai, tỉnh Lào Cai</p>
                <p><strong>Điện thoại:</strong> 0123.456.789</p>
                <p><strong>Email:</strong> <a href="mailto:saru.ruouviet@gmail.com" class="text-[#F8BC3B]">saru.ruouviet&#64;gmail.com</a></p>
            </div>

            <!-- Contact Form -->
            <div class="bg-transparent p-6 rounded-lg shadow-none text-center">
                <h3 class="mb-6 text-xl font-semibold">Liên hệ với chúng tôi</h3>
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <input type="text" formControlName="name" placeholder="Họ và tên" class="w-full p-3 mb-4 border border-gray-300 rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-[#F8BC3B]" required>
                    <input type="email" formControlName="email" placeholder="Email" class="w-full p-3 mb-4 border border-gray-300 rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-[#F8BC3B]" required>
                    <textarea formControlName="message" placeholder="Nội dung" class="w-full p-3 mb-4 h-24 border border-gray-300 rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-[#F8BC3B]" required></textarea>
                    <button type="submit" class="w-40 p-3 bg-[#F8BC3B] text-white rounded-lg hover:bg-[#85461f] focus:outline-none">Gửi liên hệ</button>
                </form>
            </div>
        </div>

        <!-- Map Section -->
        <div class="flex-1 min-w-[300px]">
            <img src="assets/images/map.jpg" alt="Bản đồ" class="w-full h-auto rounded-lg">
        </div>
    </div>
</div>
