<header class="flex justify-end items-center mb-9  rounded-lg">
  <button 
    class="flex items-center text-white bg-[#F8BC3B] px-4 py-2 rounded-lg font-bold hover:bg-[#85461F] transition"
    (click)="toggleAdminMenu()"
  >
    ADMIN
  </button>
</header>
<div class="flex flex-col px-15 mt-4">
    @if(id){
      <h1 class="text-3xl font-bold text-[#85461F]">Cập nhật FAQ</h1>
    } @else {
      <h1 class="text-3xl font-bold text-[#85461F]">Tạo FAQ mới</h1>
    }
        <form class="shadow p-4 mt-10" [formGroup]="faqForm">
          <div class="flex flex-wrap">
  
            <div class="w-full">
              <p class="py-5 text-[#38312F] font-semibold text-xl">
                ID: 
              </p>
              <mat-form-field class="w-full">
                <mat-label class="text-s">Nhập mã FAQ...</mat-label>
                <input matInput type="text" formControlName="FaqID">
              </mat-form-field>
            </div>
  
            <div class="w-full">
              <p class="py-5 text-[#38312F] font-semibold text-xl">
                Câu hỏi: 
              </p>
              <mat-form-field class="w-full">
                <mat-label class="text-s">Nhập câu hỏi...</mat-label>
                <input matInput type="text" formControlName="FaqTitle">
              </mat-form-field>
            </div>
  
            <div class="w-full">
              <p class="py-5 text-[#38312F] font-semibold text-xl">
                Nội dung câu trả lời: 
              </p>
              <mat-form-field class="w-full">
                <mat-label class="text-s">Nhập nội dung...</mat-label>
                <input matInput type="text" formControlName="FaqContent">
              </mat-form-field>
            </div>
          </div>
  
        <div class="w-full flex justify-center">
          @if(id){
            <button class="flex items-center bg-[#F8BC3B] text-black font-medium py-2 px-4 rounded-full transition hover:bg-[#85461F] hover:text-white"(click)="updateFaq()">Cập nhật</button>
            }@else{
            <button class="flex items-center bg-[#F8BC3B] text-black font-medium py-2 px-4 rounded-full transition hover:bg-[#85461F] hover:text-white" (click)="addFaq()">Lưu</button>
            }
        </div>
      </form>
  </div>
      