<!-- Section feedback của khách hàng -->
<section class="py-8 mt-0">
    <div class="text-center">
      <h3 class="text-[#85461F] text-4xl font-bold">PHẢN HỒI TỪ KHÁCH HÀNG</h3>
    </div>
  
    <div class="w-full mx-auto flex justify-center items-center px-4">
      <a routerLink="/all-feedbacks" class="flex items-center space-x-0">
        <a routerLink="/all-feedbacks" class="text-[#B16628] text-xl hover:text-[#38312F] block mt-2">Xem tất cả &gt;</a>
      </a>
    </div>
  
    <div class="container mx-auto p-6">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <!-- Card 1 -->
        <div class="bg-[#38312F] text-white p-6 rounded-lg flex flex-col justify-between">
          <p class="text-lg font-medium">
            “Rượu Tây Bắc mang đến hương vị đậm đà, thơm mát từ thiên nhiên, khiến mình như được quay về với núi rừng hùng vĩ. Uống một chén mà cảm nhận được sự kỳ công và tâm huyết của người làm rượu.”
          </p>
          <div class="mt-4">
            <p class="font-bold">Anh Trần Minh</p>
            <p class="text-sm">Sản phẩm: Rượu Nàng Mơ</p>
          </div>
        </div>
    
        <!-- Card 2 -->
        <div class="rounded-lg overflow-hidden">
          <img src="assets/images/fb1.jpg" alt="Anh Trần Minh" class="w-full h-full object-cover transition duration-300 ease-in-out hover:scale-106">
        </div>
    
        <!-- Card 3 -->
        <div class="rounded-lg overflow-hidden">
          <img src="assets/images/fb2.png" alt="Wine bottle image" class="w-full h-full object-cover transition duration-300 ease-in-out hover:scale-106">
        </div>
    
        <!-- Card 4 -->
        <div class="bg-[#F8BC3B] text-white p-6 rounded-lg flex flex-col justify-between">
          <p class="text-lg font-medium">
            “Mua rượu tại shop mà cảm giác như được trải nghiệm cả văn hóa Tây Bắc. Rượu thơm ngon, đúng chuẩn vị, giá cả hợp lý. Dịch vụ chăm sóc khách hàng chu đáo nữa, rất đáng tin cậy!”
          </p>
          <div class="mt-4">
            <p class="font-bold">Chị Thục Vy</p>
            <p class="text-sm">Sản phẩm: Rượu Nàng Mận</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  