@import "tailwindcss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Đổi màu nền hàng tiêu đề */
.header-row {
    background-color: #38312F !important; /* Nền đen nâu */
}

/* Đổi màu chữ tiêu đề */
.header-cell {
    background-color: #38312F !important; /* Nền tiêu đề */
    color: white !important; /* Chữ trắng */
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Đổi màu mũi tên của mat-sort-header */
.mat-sort-header-arrow {
    color: white !important; /* Màu trắng */
    fill: white !important; /* Đảm bảo cả SVG cũng có màu trắng */
}

/* Khi hover vào tiêu đề thì mũi tên cũng phải giữ màu trắng */
.mat-sort-header:hover .mat-sort-header-arrow {
    color: white !important;
    fill: white !important;
}
